.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}
article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h2{
    margin :0;
}
h1{
    font-size: 400%;
}
h1,h2,h3,h4,h5,h6{
    line-height : 1,1;
    text-wrap : balance;
}
#projects-plot {
    max-width: 20em;
    margin-block: 2em;
  
    overflow: visible;
  }
.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    list-style: none;
    padding: 0;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.swatch {
    width: 1em;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 50%;
}
.container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  svg {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    overflow: visible; /* prevents clipping at the SVG boundary */
    &:has(path:hover) {
        path:not(:hover) {
          opacity: 0.5;
        }
      }
  }
  
  .legend {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; /* takes up remaining space */
  }
  path {
    transition: 300ms;
  }
  .selected {
    --color: oklch(60% 45% 0) !important;
  }
    &:is(path) {
      fill: var(--color);
    }

