.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}
article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h2{
    margin :0;
}
h1{
    font-size: 400%;
}
h1,h2,h3,h4,h5,h6{
    line-height : 1,1;
    text-wrap : balance;
}

