:root {
  --color-accent: oklch(40% 30% 310);
}

html {
  accent-color: var(--color-accent);
}
body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 2rem;
  }
  nav { 
    display: flex;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding:0.5em;
    margin-bottom: auto;
    border-bottom: 1px solid oklch(80% 3% 200);

  }
  nav a {
    flex:1;
  }
  nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }
  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
}